.header {
  position: relative;
  top: 0;
  height: 50px;
  width: 100vw;
  display: block;
  margin: auto;
  overflow: hidden;
  background-color: rgb(233, 243, 245);
}
.header-title {
  margin: 5px 10px;
  padding: 0;
  float: left;
}
.avatar {
  height: 35px;
  width: 35px;
  margin: 7px;
  float: right;
}
